<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("~/Constent/Site.css")" rel="stylesheet" type="text/css"/>*@
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="Content/Site.css" />
</head>
<body>
  <nav>
      <ul class="menu">
          <li style=" text-decoration: none;">@Html.ActionLink("Main", "Index", "Home")</li>
      </ul>
  </nav>
    @RenderBody()
    <hr />
    <p>&Dagger; My Application !</p>
    <footer>
        @if(IsSectionDefined("Footer")) {
            @RenderSection("Footer");
        }
        else
        {
            <span>default</span>
        }
    </footer>
</body>
</html>
